$primary-color: #1a1a1a;
$secondary-color: #e01b24;
$third-color: #1a1a1a;
$four-color: #f2f2f2;
$star-color: #ffcd29;
$hover-color: $primary-color; // Thay vì var(--primary-color)
$main-font: "Manrope";
$second-font: "Manrope";
$third-font: "Unbounded";